# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build directories
dist
build          # Add if using a build directory
dist-ssr       # If using SSR builds

# Environment files
.env

# IDE and editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Miscellaneous
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
